body, div, ul, li {
	margin: 0;
	padding: 0;
}

img{
	border: 0;
}

address, caption, cite, code, dfn, th, var{
	font-style: normal;
	font-weight: normal;
}

ul{
	list-style: none;
}

.weapon {

}

.title {
	text-align: center;
}

.main-body {
	margin: 2em auto 0;
	max-width: 700px;
	padding: 10px;
}

.game h3{
	font-size: 1.1em;
}

.game .choices-list {
	text-align: center;
}

.game .choices-list li{
	display: inline-block;
	width: 25%;
}

.game #play-again-box{
	margin: 0 auto;
	width: 15%;
	text-align: center;
}

.game .btn{
	border-style: solid;
	border-color: black;
	border-radius: 5px;
	background-color: #c9cacc;
	font-weight: 700;
}

.game #result {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.game #result-msg {
	font-size: 2.5em;
	font-weight: 700;
}

.game #player1-choice-box {
	float: left;
	width: 25%;
}

.game #player2-choice-box {
	float: right;	
	width: 25%;
}

.game #player1-name, .game #player2-name {
	visibility: hidden;
}

.game #result-box {
	margin: 0 auto;
	width: 50%;
}

.weapon-lbl{
	visibility: hidden;
}

.weapon:hover .weapon-img{
	width: 55px;
}

.weapon:hover .weapon-lbl{
	visibility: visible;
}

.game .scores{
	text-align: center;
}

.game .scores .score-box{
	display: inline-block;
	padding: 5px 10px;
	text-align: center;
	width: 15%;
}

.game #player1-score, .game #player2-score, .game #tie-score{
	font-size: 1em;
	font-weight: 700;
}

.game .menu {
	text-align: center;
}

.game .menu li{
	margin: 0 auto;
	text-transform: uppercase;
	width: 30%;
	border-bottom: 1px solid;
}

.game .menu li:hover{
	width: 35%;
	background-color: #c9cacc;
	font-size: 1.2em;
}