body, div, ul, li {
	margin: 0;
	padding: 0;
}

img{
	border: 0;
}

address, caption, cite, code, dfn, th, var{
	font-style: normal;
	font-weight: normal;
}

ul{
	list-style: none;
}

.weapon {

}

.title {
	text-align: center;
}

.main-body {
	margin: 2em auto 0;
	max-width: 700px;
	padding: 10px;
}

.game h3{
	font-size: 1.1em;
}

.game .choices-list {
	text-align: center;
}

.game .choices-list li{
	display: inline-block;
	width: 25%;
}

.game #playAgainBox{
	margin: 0 auto;
	width: 15%;
	text-align: center;
}

.game #playAgain-btn{
	border-style: solid;
	border-color: black;
	background-color: #c9cacc;
}

.game .choices{
	text-align: center;
}

.game .choices li{
	display: inline-block;
	width: 25%;
}

.game .choices .choice-box{
	display: inline-block;
	padding: 5px 10px;
	text-align: center;
	width: 40%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-style: solid;
	border-bottom: 4px solid;
	border-top: 1px solid;
	border-right: 1px solid;
}

.weapon-lbl{
	visibility: hidden;
}

.weapon:hover .weapon-img{
	width: 55px;
}

.weapon:hover .weapon-lbl{
	visibility: visible;
}

.game .scores{
	border-bottom: 5px solid #2a2829;
	border-top: 5px solid #2a2829;
	text-align: center;
}

.game .scores .score-box{
	display: inline-block;
	padding: 5px 10px;
	text-align: center;
	width: 30%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.game #player1Score, .game #player2Score, .game #tieScore{
	font-size: 3em;
}

.game #player1Choice, .game #player2Choice{
	font-weight: 700;
	text-transform: uppercase;
}

.game .menu {
	text-align: center;
}

.game .menu li{
	display: inline-block;
	text-transform: uppercase;
	width: 30%;
}